<div class="container">
  <h1>Hola {{user.username}}</h1>
  <ul>
  {{#each songs}}
    <li>
      <div class="track-wrapper" data-song-id="{{this.name}}"> {{!-- Cambiarlo por el id --}}
        <div class="track-img-container">
          <img src="">
        </div>
        <div class="track-info">
          <p><span>{{this.name}}</span></p>
          <a href="#">{{this.artist}}</a>
          <a href="#">{{this.album.name}}, {{this.album.year}}</a>
          <p class="track-duration"></p>
        </div>
      </div>
    </li>
  {{/each}}
  </ul>
</div>

<div id="player" data-id="">
  <div id="track-bar">
    <div id="track-progress">
    </div>
  </div>

  <button id="previous-btn" onclick="playPrevious()">PREVIOUS</button>
  <button id="stop-btn">PLAY</button>
  <button id="previous-btn">PLAY</button>
  <button id="next-btn" onclick="playNext()">NEXT</button>
  <p id="track-current-time"></p>
</div>

<script src="script/player.js"></script>