<style>
  #successUpload {
    position:fixed;
    top:0;
    left:0;
    right:0;
    margin:0 auto;
    width:25%;
    text-align: center;
    padding:20px;
    color:#fff;
    background-color:#34a764;
    transition:top 0.8s;
  }

  #failUpload {
    position:fixed;
    top:0;
    left:0;
    right:0;
    margin:0 auto;
    width:25%;
    text-align: center;
    padding:20px;
    color:#fff;
    transition:top 0.8s;
    background-color:#f15e5e;
  }
</style>

<main class="my-profile-container">  
  <section class="my-presentation">  
    <div class="profile-pic">
      <img src="img/profile/{{user.avatarImg}}">
    </div>
    <div id="user-bio" class="my-info">
    <h3>{{user.username}}</h3>
    <p>{{userBio}}</p>
    </div>
    <div class="user-edit">
    <a href="/genres">My Genres</a>
    <a href="/setProfile">Edit Bio</a>
    </div>
  </section>
  <section class="user-records">
    <div class="user-records-selection">
      <button id="songs" class="selected-title">Songs</button>
      <button id="albums">Albums</button>
    </div>
    <div class="user-songs">
      <h4>Songs</h4>
      {{#if songs}}
      <ul>
      {{#each songs}}
        <li class="track-li">
          <div class="track-wrapper" data-song-id="{{this.file}}">
            <div class="track-img-container">
              <img src="{{this.img}}">
              <button class="play-pause-btn" title="Play"><i class="fas fa-play-circle"></i></button>
            </div>
            <div class="track-info">
              <p class="track-name">{{this.name}}</p>
              {{#if this.album}}
              <a href="/album/{{this.album.name}}">{{this.album.name}} ({{this.album.year}})</a>
              {{/if}}
            </div>
            <div class="track-length">
              <p class="track-duration"></p>
            </div>
          </div>
        </li>
      {{/each}}
      </ul>
      {{/if}}
    </div>
    <div class="user-albums">
      <h4>Albums</h4>
      {{#if albums}}
      <ul>
      {{#each albums}}
        <li>        
          <img src="/{{this.img}}">
          <p>{{this.name}}</p>
          <p>{{this.year}}</p>
          <a href="/album/{{this.name}}"></a>
        </li>
        {{/each}}
        {{/if}}
      </ul>
    </div>
  </section>
  {{#if uploadMsg}}
    <div id={{uploadMsg.id}}>
      <p>{{uploadMsg.msg}}</p>
    </div>
  {{/if}}
</main>

<script src="script/uploadMsg.js"></script>
<script src="script/hide.js"></script>